In [1]:
# Azure storage access info
blob_account_name = "renjiedl"
blob_container_name = "mapr"
blob_relative_path = "tracks.csv"
blob_sas_token = "https://renjiedl.blob.core.windows.net/?sv=2019-02-02&ss=bfqt&srt=sco&sp=rwdlacup&se=2020-04-29T20:47:29Z&st=2020-03-19T12:47:29Z&spr=https&sig=36HtkrLxeQ952ynsD6b6aGIgWms7hduEyAaBSJagsGY%3D"

# Allow SPARK to read from Blob remotely
wasbs_path = 'wasbs://%s@%s.blob.core.windows.net/%s' % (blob_container_name, blob_account_name, blob_relative_path)
spark.conf.set('fs.azure.sas.%s.%s.blob.core.windows.net' % (blob_container_name, blob_account_name),blob_sas_token)

from pyspark import SparkContext, SparkConf  
import csv  

sc = SparkContext.getOrCreate()

trackfile = sc.textFile(wasbs_path)


def make_tracks_kv(str):
    l = str.split(",")
    return [l[1], [[int(l[2]), l[3], int(l[4]), l[5]]]]

# make a k,v RDD out of the input data  
tbycust = trackfile.map(lambda line: make_tracks_kv(line)).reduceByKey(lambda a, b: a + b)
tbycust.take(1)

In [2]:
def compute_stats_byuser(tracks):
    mcount = morn = aft = eve = night = 0
    tracklist = []
    for t in tracks:
        trackid, dtime, mobile, zip = t
        if trackid not in tracklist:
            tracklist.append(trackid)
        d, t = dtime.split(" ")
        hourofday = int(t.split(":")[0])
        mcount += mobile
        if (hourofday < 5):
            night += 1
        elif (hourofday < 12):
            morn += 1
        elif (hourofday < 17):
            aft += 1
        elif (hourofday < 22):
            eve += 1
        else:
            night += 1
    return [len(tracklist), morn, aft, eve, night, mcount]

# compute profile for each user  
custdata = tbycust.mapValues(lambda a: compute_stats_byuser(a))  
custdata.take(1)
#custdata.collect()

In [3]:
def compute_stats_byuser(tracks):
    mcount = morn = aft = eve = night = 0
    tracklist = []
    for t in tracks:
        trackid, dtime, mobile, zip = t
        if trackid not in tracklist:
            tracklist.append(trackid)
        d, t = dtime.split(" ")
        hourofday = int(t.split(":")[0])
        mcount += mobile
        if (hourofday < 5):
            night += 1
        elif (hourofday < 12):
            morn += 1
        elif (hourofday < 17):
            aft += 1
        elif (hourofday < 22):
            eve += 1
        else:
            night += 1
    return [len(tracklist), morn, aft, eve, night, mcount]

# compute profile for each user  
custdata = tbycust.mapValues(lambda a: compute_stats_byuser(a))  
custdata.take(1)
#custdata.collect()

In [4]:
 
from pyspark.mllib.stat import Statistics  
  

# compute aggregate stats for entire track history  
aggdata = Statistics.colStats(custdata.map(lambda x: x[1]))
print(aggdata.mean())

In [5]:
from os.path import expanduser, join, abspath

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf  

# Azure storage access info
blob_account_name = "renjiedl"
blob_container_name = "mapr"
blob_relative_path = "tracks.csv"
blob_sas_token = "https://renjiedl.blob.core.windows.net/?sv=2019-02-02&ss=bfqt&srt=sco&sp=rwdlacup&se=2020-04-29T20:47:29Z&st=2020-03-19T12:47:29Z&spr=https&sig=36HtkrLxeQ952ynsD6b6aGIgWms7hduEyAaBSJagsGY%3D"

# Allow SPARK to read from Blob remotely
wasbs_path = 'wasbs://%s@%s.blob.core.windows.net/%s' % (blob_container_name, blob_account_name, blob_relative_path)


spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", wasbs_path) \
    .enableHiveSupport() \
    .getOrCreate()

# spark is an existing SparkSession
spark.sql("TRUNCATE TABLE ltable")
spark.sql("CREATE TABLE IF NOT EXISTS ltable (unique INT, morn INT, aft INT, eve INT, night INT, mobile INT) USING hive")
#spark.sql("LOAD DATA LOCAL INPATH 'examples/src/main/resources/kv1.txt' INTO TABLE src")

# Queries are expressed in HiveQL
spark.sql("SELECT * FROM ltable").show()

In [6]:
custdatalen = custdata.count()
values = list()
keys = list()
for line in custdata.values().take(custdatalen):
    values.append(line)

for line in custdata.keys().take(custdatalen):
    keys.append(line)

#print(str(keys[0]))



#for i in range (0,(custdatalen-1)):
for i in range (0,20):
    unique = int(keys[i])
    morn = int(values[i][0])
    aft = int(values[i][1])
    eve = int(values[i][2])
    night = int(values[i][3])
    mobile = int(values[i][4])
    print(morn)
    #spark.sql("INSERT INTO TABLE ltable VALUES('${unique}','${morn}','${aft}','${eve}','${night}','${mobile}')")
    spark.sql("INSERT INTO TABLE ltable VALUES(%s,%s,%s,%s,%s,%s)" % (unique,morn,aft,eve,night,mobile))


spark.sql("SELECT count(*) FROM ltable").show()
#for i in range (0,9):
#    print(values[i][0])

#values = custdata.values().take(1)

#value = value [0]

In [7]:
# Azure storage access info
blob_account_name = "renjiedl"
blob_container_name = "mapr"
blob_relative_path = "ltable.csv"
blob_sas_token = "https://renjiedl.blob.core.windows.net/?sv=2019-02-02&ss=bfqt&srt=sco&sp=rwdlacup&se=2020-04-29T20:47:29Z&st=2020-03-19T12:47:29Z&spr=https&sig=36HtkrLxeQ952ynsD6b6aGIgWms7hduEyAaBSJagsGY%3D"

# Allow SPARK to read from Blob remotely
wasbs_path = 'wasbs://%s@%s.blob.core.windows.net/%s' % (blob_container_name, blob_account_name, blob_relative_path)
spark.conf.set('fs.azure.sas.%s.%s.blob.core.windows.net' % (blob_container_name, blob_account_name),blob_sas_token)



from pyspark import SparkContext, SparkConf  
import csv  

sc = SparkContext.getOrCreate()


from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

type(schemaPeople)

schemaPeople.coalesce(1).write.format("com.databricks.spark.csv").option("header", "true").mode("overwrite").save(wasbs_path)